.checkbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-weight: lighter;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.range{
    width: 100%;
    margin-bottom: 10px;
    accent-color: #33cccc;
    height: 2rem;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 32px;
    height: 32px; 
    background: #33cccc;
    border-radius: 50%;
    cursor: pointer; 
    
  }

.length {
    margin-top: 10px;
    margin-bottom: 15px;
}

  
  .check {
    margin-left: 0.5rem;
    appearance: none; /* Remove default appearance */
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
  }
  
  .check:checked {
    background-color: #33cccc;
    border-color: #33cccc;
  }
  
  .check:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }