.button{
    background: #33CCCC;
    padding: 8px 18px;
    border-radius: 14px;
    color:black;
    font-weight: bold;
}
.input{
    border: 2px solid gray;
    border-radius: 14px;
    padding: 5px;
    padding-right: 40px;
    box-sizing: border-box;
    width: 100%;
    
}
.container{
    display: flex;
}
.inputContainer {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    flex-grow: 1;
    margin-right: 1rem;
}
.reButton{
    position: absolute;
    right: 5px;
    font-size: 24px;
    box-sizing: border-box;

}