.button{
    background: #309794;
    padding: 4px 10px;
    border-radius: 6px;
    color:black;
    font-weight: bold;
}
.input{
    border: 2px solid gray;
    border-radius: 8px;
    padding: 5px;
    width: 100%; 
    padding-right: 40px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
}
.inputContainer {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}
.reButton{
    position: absolute;
    right: 0;
    font-size: 24px;
    box-sizing: border-box;

}